*,
body,
button,
input,
select,
textarea {
  font-family: Roboto, sans-serif;
}


@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular-webfont.eot');
  src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Regular-webfont.woff') format('woff'),
    url('Roboto-Regular-webfont.ttf') format('truetype'),
    url('Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Italic-webfont.eot');
  src: url('Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Italic-webfont.woff') format('woff'),
    url('Roboto-Italic-webfont.ttf') format('truetype'),
    url('Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Bold-webfont.eot');
  src: url('Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Bold-webfont.woff') format('woff'),
    url('Roboto-Bold-webfont.ttf') format('truetype'),
    url('Roboto-Bold-webfont.svg#RobotoBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Light-webfont.eot');
  src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Light-webfont.woff') format('woff'),
    url('Roboto-Light-webfont.ttf') format('truetype'),
    url('Roboto-Light-webfont.svg#RobotoLight') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Medium-webfont.eot');
  src: url('Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Medium-webfont.woff') format('woff'),
    url('Roboto-Medium-webfont.ttf') format('truetype'),
    url('Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
  font-weight: 300;
  font-style: normal;
}
