*,
body,
button,
input,
select,
textarea {
  font: inherit;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;

  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;

  font-family: Montserrat, 'Helvetica', 'Arial', sans-serif !important;
}

/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('montserrat-v14-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
    url('montserrat-v14-latin-italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('montserrat-v14-latin-italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('montserrat-v14-latin-italic.woff') format('woff'),
    /* Modern Browsers */ url('montserrat-v14-latin-italic.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('montserrat-v14-latin-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('montserrat-v14-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('montserrat-v14-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('montserrat-v14-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('montserrat-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('montserrat-v14-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('montserrat-v14-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('montserrat-v14-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('montserrat-v14-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('montserrat-v14-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
